body {
    margin: 0;
    padding: 0;
    background-image: url(https://picfiles.alphacoders.com/461/461625.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
    box-sizing: border-box;
}

.relleno input {
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
}

.botones button {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    background: rgb(43, 46, 195);
    background: linear-gradient(90deg, rgba(43, 46, 195, 1) 0%, rgba(28, 167, 245, 1) 100%);
}

button:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: white;
}

h1:hover {
    cursor: pointer;
    background: linear-gradient(blue, rgb(0, 140, 255), rgb(69, 135, 197));
    -webkit-background-clip: text;
    color: transparent;
    transform: scale(1.1);
}